.idea/
.DS_Store


# Conventional commits
# feat: A new feature or enhancement added to the codebase.
# fix: A bug fix or correction to resolve an issue.
# docs: Documentation changes or updates.
# style: Changes related to code formatting, indentation, or whitespace.
# refactor: Code refactoring without adding new features or fixing bugs.
# test: Addition or modification of test cases.
# chore: Other changes not directly affecting the code (e.g., build scripts, dependencies).